body {
    /*保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域。*/
    background-size: cover;
    /* padding-top:20px; */
}

.login{
    position: relative;
    margin-top: 60px;
    margin-bottom: 20px;
}

form {
    width: 343px;
    height: 240px;
    margin:0 auto;
    padding:30px;
    /* border: 1px solid #0e7c43; */
    border-radius: 5px;
    background: #f5f5f5;
    /*盒阴影：水平和垂直偏移量都为0、阴影模糊半径13px、阴影扩展半径3px、黑色透明度50%*/
    box-shadow: 0 0 8px 1px #7ed1a6;
    overflow: hidden;/*隐藏溢出内容*/
}
.login-logo {
    width: 200px;
    height: 50px;
    margin: 5px auto;
    background:url(../images/login/login_top.jpg) no-repeat center center;
    border:5px solid rgba(255,255,255,.4);
}


input {
    width: 276px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 6px;
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    margin-bottom:20px;
    /* background: linear-gradient(200deg,#54c8ff,#62da66); */
    background: #36e0a7;
}

/*光标放到type=submit上时的小手*/
input[type=submit] {
    cursor:pointer;
}
/*输入框的提示文字为白色*/
::-webkit-input-placeholder {
    color: #fff;
}
/*当该input元素获得焦点时，设置背景颜色及盒阴影*/
input:focus {
    background-color:#67c5ae;
    box-shadow: 0 0 5px 2px rgba(46, 171, 102, 0.5);
    overflow: hidden;
}

/*按钮*/
.btn {
    width: 138px;
    height: 44px;
    border-radius: 4px;
    margin:0 auto;
    /* background: linear-gradient(200deg,#1f9dc4,#62ff54); */
    background: #36e0a7;
    padding: 10.5px 21px;
    border-radius: 6px;
    color: #ffffff;
}
/*当鼠标悬浮在该元素时，设置边框、文字阴影、背景颜色及文字颜色*/
.btn:hover {
    border: 1px solid #d9edf7;
    text-shadow: 0 1px 0 #4b5aab;
    background: #67c5ae;
    color: #fff;
}
/*当该元素激活(在鼠标点击与释放之间发生的事件)时，设置外边距、文字阴影、边框、背景颜色
及文字颜色*/
.btn:active {
    margin-top:1px;
    text-shadow: 0 -1px 0 #4b5aab;
    border: 1px solid #0e7c43;
    background:#67c5ae;
    color: #fff;
}
/*缩放屏幕时使图片居中*/
.login-left{
    text-align: center;
}

/* 下端调整 */
.login-left img{
    margin-bottom: 50px;
}

/*适应中等屏幕*/
@media (max-width:992px){
    .login-left img{
        height: 160px;
        margin-top: 30px;
    }
}

/* 小屏幕 */
@media (max-width:768px){
    .login-left img{
       margin-top: 0px;
    }
}
