body,button, input, select, h3 { 
    font-family: Microsoft YaHei
}

.navbar-brand{
    padding: 0 0;
}
/*设置图片logo的大小和位置*/
.navbar-brand>img{
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
    width: 250px;
}
/*设置整个导航菜单的内边距、背景色和阴影*/
.navbar-default{
    padding: 1.5em 0;
    background-color: #ffffff;
    box-shadow: 12px -5px 39px -12px;
}
/*设置导航栏中菜单a链接的样式*/
.navbar-default .navbar-nav>li a {
    top: 10px;
    padding: 0.5em 3em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    color:#919191;
}
/*导航栏菜单的鼠标悬停和获取焦点时的状态*/
.navbar-default .navbar-nav> li >a:hover,
.navbar-default .navbar-nav> li >a:focus {
    background:#36e0a7;
    /* background: linear-gradient(200deg,#54c8ff,#4fbd52); */
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*视口小于992px时导航菜单字体变小*/
@media (max-width: 992px) {
    .navbar-default .navbar-nav>li a {
        font-size: 1.1em;
    }
}


.fun h3 {
    margin-top: -20px;
    color: #1A1A1A;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0 1em;
    padding: 0 0 0.5em;
    border-bottom: 2px solid #eee;
}
.fun p {
    color: #1A1A1A;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.8em;
    margin: 1em 0;
}
.fun {
    padding: 3em 0;
    border: 1px solid #eee;
    margin: 0 0;
}

a.morebtn {
    display: block;
    font-size: 1em;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    /* background:  linear-gradient(200deg,#54c8ff,#4fbd52); */
    background: #36e0a7;
    padding: 10px 18px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 22px;
}
a.morebtn:hover{
    background: #286090;
}

/*当视口小于1024px时按钮的最大宽度*/
@media (max-width: 1024px) {
    a.morebtn{
        max-width:410px;
    }
}

/*左上角图片的位置和宽高*/
.navbar-brand>img{
    height: auto;
    width:250px;
    margin-right: 5px;
    margin-top: 5px;
}

/*选项菜单的字体颜色*/
.nav-pills>li>a{
    color:#8e908d ;
}
/*选项菜单鼠标悬停和获取焦点时背景色和字体颜色*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #5A9522;
}
.choose{
    border: 1px solid silver;
}
/*选项内容*/
.tab-content{
    margin: 5px;
    text-align: center;
}


.pic{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pic img{
    vertical-align: middle;
    width: 100%;
    height: 400px;
}
.carousel {
    background: white;
}

/* 轮播图按钮 */


.carousel-btn{
    position: relative;
    top: 45%;/*调整垂直位置*/
    font-size: 40px;
}




/*轮播图大小*/
/* .hidden-xs{
        width: 100%;
} */



@media (min-width:1400px) { 
     /*屏幕尺寸大于1400时，图片加高，看着舒服点*/
    .pic img{
        height: 500px;
    }
}


/*屏幕尺寸低于768px，不显示轮播图*/
@media (max-width:768px){
    .pic,.play1,.carousel-btn{
        display: none;
    }
    a.morebtn{
        max-width:410px;
    }
    
} 
/* 小分辨率标题居中更好看 */
@media (max-width:992px){
    .fun h3{
        text-align: center;
    }
    a.morebtn{
        max-width:100%;
        text-align: center;
    }
} 



/*footer部分*/
.footer p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    vertical-align: middle;
    margin: 0.4em 0;
}
.footer p a{
    color: #fff;
    text-decoration:none;
}
.footer {
    padding: 1em 0;
    /* background-color: li#4fbd52; */
    background: linear-gradient(200deg,#54c8ff,#4fbd52);
}


/*设置字体图标的大小和颜色*/
.glyphicon{
    font-size: 1.2em;
    color: #f2f0f1 ;
}

/* 文字说明部分 */
.content_white{

    text-align: center;
    padding: 3em 0;
}
/*联系部分*/
.contact{
    padding: 2em 0;
}
/* 社交图标 */
.social{
    list-style: none;
    display: inline-block;
}
.social a img{
    max-width: 50px;
    position: relative;
    bottom: 18px;
}

/*去掉链接下划线*/
.social a{
    text-decoration: none;
}

