.card {
    border: 0;
    box-shadow: 0 10px 10px rgba(62,85,120,.045);
    margin-bottom: 25px;
    border-radius: 4px;
}
.info-image{
    height: 200px;
    background: url(../images/worker.svg) center center no-repeat;
    background-size: contain;
}

.card .card-body {
    padding: 25px;
}

.bg-info {
    background-color: #57f7c1!important;
}
@media(min-width:992px){
    .bg-info{
        height: 300px;
    }
}

.card .card-body .card-title {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000;
}

#card-left-text>li{
    margin-bottom: 16px;
}

.alert.alert-warning {
    background: #ffeaa3;
    color: #9c7c11;
}


.alert {
    border: 0;
    padding: 15px 25px;
}

.m-b-lg {
    margin-bottom: 25px;
}